* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.container {
    background: #F9F9F9;
    padding: 1em .5em;
    display: grid;
    grid-template-columns: 15% calc(85% - 5px);
    grid-gap: 5px;
}

button {
    cursor: pointer;
    transition: .5s;
    outline: 0;
}

button:hover {
    background: #999999;
}

.box1 {
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.170509);
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 25px;
}

.box1 span {
    font-size: 12px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first span:nth-of-type(1) {
    align-items: center;
    display: flex;
}

.btn {
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    padding: 0 1em;
    justify-content: space-between;
    margin: .5em 0;
    border-radius: 4px;
}

.btn span {
    display: flex;
    align-items: center;
    font-family: Montserrat;
}

.box2 {
    padding: 2em 1em 1em 1em;
    background: #F9F9F9;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}

.purple_btn {
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    padding: 0 1em;
    justify-content: space-between;
    background: linear-gradient(188.54deg, #9E94FF 0%, #7E72F2 99.2%);
    box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
    border-radius: 4px;
}

.commerce {
    padding: .3em 1em;
    /* font-size: 15px; */
    line-height: 30px;
}

.dash {
    line-height: 30px;
}

.analytics {
    /* font-size: 15px; */
    line-height: 30px;
}

.purple_btn span {
    display: flex;
    align-items: center;
    font-family: Montserrat;
}

.align {
    padding: 0 .7em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    color: #2C2C2C;
}

.align div {
    display: flex;
    align-items: center;
}

.test {
    justify-content: space-between;
}

.test span {
    display: flex;
    align-items: center;
}

.align img {
    padding-right: 1em;
}

.align h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    color: #999999;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
    border-radius: 8px;
    padding: .3em 0;
}

.icon_wrapper {
    display: flex;
    align-items: center;
}

.icon_wrapper img {
    padding: .5em;
}

.icon_wrapper_2 {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.icon_wrapper_2 p {
    text-align: right;
    line-height: 10px;
}

.icon_wrapper_2 span {
    padding: .5em;
}

sub {
    font-size: 9px;
}

.background {
    height: 40px;
    width: 40px;
    background: url('./images/oval.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5em;
}

.section {
    display: grid;
}

.child_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
}

.child_one div:nth-of-type(1) {
    display: flex;
    align-items: center;
}

.child_one span {
    padding-right: 1em;
}

.card {
    font-size: 13px;
}

.cAction {
    font-size: 20px;
}

.backg {
    height: 40px;
    width: 40px;
    background: url('./images/icon-dashboard-setting.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5em
}

.child_two {
    display: flex;
    justify-content: space-between;
}

.p {
    display: flex;
}

.p span {
    padding: 1em 0 0;
}

.gridSection {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 25% calc(75% - 15px);
    column-gap: 15px;
}

.topClass {
    align-items: center;
    font-size: 14px;
}

.results {
    display: flex;
    justify-content: space-between;
}

.result {
    padding: 1em 0 0;
}

.button {
    display: flex;
}

.button button {
    margin: 0 .5em;
}

.default {
    justify-content: space-between;
    padding: .5em;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.default span {
    padding-right: 1em;
}

.menu {
    background: white;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    padding: .5em .8em;
}

.side-bar {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    overflow: hidden;
    padding: 1em;
    font-size: 13px;
    line-height: 26.95px;
    color: #2C2C2C;
}

.side-bar h2 {
    padding: 0 0 .5em 0;
    font-size: 14px;
}

.side-bar input {
    margin: .3em 0;
}

hr {
    border: 1px solid #D6D6D6;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.slide {
    margin: 1em 0;
}

.slide img {
    width: 100%;
}

.multi-range img {
    padding-right: 1em;
}

.multi-range {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
}

.img-hold div {
    display: flex;
    justify-content: space-between;
}

.img-hold div span {
    align-items: center;
    display: flex;
}

.img-hold div span img {
    padding-right: 1em;
}

.example {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}

.category {
    margin: .5em 0;
}

.starHold {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
}

.starBox {
    display: flex;
    align-items: center;
}

.sideBtn {
    width: 100%;
    padding: .9em;
    margin: 1em 0;
    background: #6F64F8;
    border: none;
    border-radius: 8px;
    color: white;
}

form.example input[type=text] {
    padding: .7em;
    font-size: 17px;
    border: 0;
    float: left;
    width: 90%;
    background: white;
    border-radius: 8px 0 0 8px;
    outline: 0;
}

form.example button {
    float: left;
    width: 10%;
    padding: .7em;
    background: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    outline: 0;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.ecom {
    color: #7E72F2;
}

.griditems {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    row-gap: 1.3em;
    margin-top: 1.5em;
}

.item {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px 8px 0 0;
    padding: 1em;
}

.item p {
    font-size: 8px;
    font-weight: 500;
    padding: .7em 0;
}

.item h4 {
    font-size: 14px;
    color: #2C2C2C;
    font-style: normal;
    font-weight: normal;
}

.item .image {
    padding: 1em;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.image img {
    max-height: 100%;
    width: 100%;
}

.span {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    font-size: 12px;
    align-items: center;
}

.span button {
    background: #6F64F8;
    border-radius: 3px;
    border: none;
    padding: .3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 4em;
}

.itemBtn {
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 0 0 8px 8px;
}

.itemBtn button {
    width: 50%;
    border: none;
    padding: .7em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
}

.itemBtn button:nth-of-type(1) {
    border-radius: 0 0 0 8px;
    padding: 0 1em;
    color: #2C2C2C;
}

.itemBtn button:nth-of-type(2) {
    border-radius: 0 0 8px 0;
    background: #6F64F8;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 0 6em;
    font-size: 13px;
}

.foot2 {
    display: flex;
    align-items: center;
}

.foot2 span {
    padding-left: 1em;
}

.footer img {
    height: 30px;
}